@font-face {
    font-family: 'Unbounded';
    src: url('https://lubovtla.github.io/Fonts/Unbounded-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('https://lubovtla.github.io/Fonts/Unbounded-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Unbounded', sans-serif;
}
